@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em; /*É o padrão*/
}

html, body{
    min-height: 100vh; /*Altura mínima do corpo do site 100vh ou 100%*/
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center; /*Deixa todo o texto no centro*/
}

header > h1{
    font-family: var(--fonte2);
    font-size: 10vw; /*10% da largura do vw, largura da tela - Não é a melhor maneira, mas é um recurso*/
    padding-top: 50px; /*Espaço do cabeçalho com o início da tela, saindo de h1*/
    /*text-transform: uppercase; - Deixa as letras maiusculas*/
    font-variant: small-caps; /*Deixa as letras maiusculas de uma forma mais bonita*/
}

header > p{
    padding-bottom: 50px; /*Espaço do cabeçalho para o resto das informações, saindo de p*/
}

header a, footer a{
    color: white;
    text-decoration: none; /* Tira o sublinhado dos links*/
    font-weight: bolder; /*Link vai ficar em negrito*/
}

header a:hover, footer a:hover{
    text-decoration: underline; /*Quando passar o mouse no link vai ficar sublinhado*/
}

section{
    font-family: var(--fonte3);
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    /*Colocando espaço para cima e para baixo no bloco section, esse bloco se adapta ao tamanho da tela*/
    line-height: 2em; /*Espaçamento entre as frases que estão dentro de section - facilita a leitura*/
    padding-left: 30px; /*Afastando as frases das sections da borda do site*/
}

section > p{
    padding-bottom: 2em; /*Espaço abaixo do paragrafo da section para a septilha ficar mais bonita.*/
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.226);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.644); /*Inset -> Para dentro, 13px é de espalhamento e 0px de ampliação*/
    background-size: cover; /*Podia colocar tanto no section#img01 e no 02, mas para o código ficar mais limpo, é melhor deixar só aqui*/
    background-attachment: fixed; /*Vai deixar a imagem fixa na tela*/
}

section.imagem > p{ /*Parágrafo que tem dentro da classe imagem*/
    display: inline-block; /*Caixa que se adapta ao tamanho do conteúdo*/
     /*width: 400px; - Deixa o bloco menor*/
    background-color: rgba(0, 0, 0, 0.397);
    padding: 5px; /*Para não encostar no bloco*/
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
}

section#img02{
    background-image: url("../imagens/background002.jpg");
}

footer{
    background-color: black;
    text-align: center; /*Alinhamento dos textos do footer no centro*/
    color: white;
    padding: 10px;
}